.s.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 3rem;
}

.s.menu{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 48.1875rem;
    height: 4rem;
    font-size: 1.125rem;
    font-family: 'Palanquin Dark', sans-serif;
}
.s.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    
}
.s.menu li{
    
}